.categories-main * {
  margin: 0px;
  padding: 0px;
}
.categories-main a {
  color: inherit;
  text-decoration: none;
}
.categories-main {
  font-size: 18px;
}
.list-category {
  font-size: 1em;
}
.list-post {
  font-size: 1em;
}
.list-category h2 {
  font-size: 1em;
  font-weight: bold;
  padding: 12px 0;
}
.list-category div {
  padding: 8px 0 8px 10px;
}
.list-category div a {
  margin: 4px 6px;
  white-space: nowrap;
  font-size: 0.9em;
  display: inline-block;
  border-bottom: 1px solid #333333;
}
.list-post > h2 {
  font-size: 1em;
  font-weight: bold;
  padding: 12px 0;
}
.list-post ul {
  box-sizing: border-box;
  padding-left: 15px;
}
.list-post li {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.list-post li .date {
  color: #666666;
  font-size: 0.9em;
  flex-shrink: 0;
  margin-right: 10px;
}
.list-post li .title {
  width: 0;
  flex-grow: 1;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-post li .title a {
  font-size: 0.9em;
}
.list-post li .categories {
  flex-shrink: 0;
  padding: 3px 0;
  margin-left: 10px;
}
.list-post li .categories a {
  font-size: 0.8em;
  color: #666666;
  margin-left: 8px;
}