<footer class="footer">
  <!-- 网站底部的文本内容 -->
  <span class="footer-text">{{ site.footerText }}</span>

  <!-- 下到底部按钮 -->
  <div class="footer-btn to-bottom">
    <span class="icon icon-arrow-down"></span>
  </div>
  <!-- 回到顶部按钮 -->
  <div class="footer-btn to-top">
    <span class="icon icon-arrow-top"></span>
  </div>

  <!-- 单击效果 -->
  {%- if site.extClickEffect %}
  <script>
  (function(){
    var textArr = ['90后', '努力', '逗比', '选择恐惧', '爱国', '射手', '自由', '愤青', 'IT', '睡懒觉'];
    window.blog.initClickEffect(textArr);
  })()
  </script>
  {% endif %}
  <!-- 是否支持数学公式 -->
  {%- if page.layout=="post" -%}
    {%- if site.extMath -%}
      {% include ext-mathjax.html %}
    {% elsif page.extMath %}
      {% include ext-mathjax.html %}
    {% endif %}
  {% endif %}
</footer>