<header class="header">
  <!-- 百度统计 -->
  {%- if site.baidu_statistics -%}
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?9e67d63f8c7b694c025545319658eccd";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  {%- endif -%}

  <div class="site-top-container">

    <div class="site-title">
      <img id="site-logo" src="{{site.baseurl}}/static/img/logo_light.svg" alt="" />
    </div>

    <!-- 菜单项 -->
    <div class="site-menus-container">
      <div class="menus-content">
        {%- for menu in site.menu -%}
        {%- capture href -%}{{ site.baseurl }}{{ menu.url }}{%- endcapture -%}
        <div class="menu-item">
          <img src="{{site.baseurl}}{{menu.src}}" alt="" />
          <a href="{{href}}" class="{%- if page.url == {{menu.url}} -%} active {%- endif -%}">
            {{ menu.title }}
          </a>
        </div>
        {%- endfor -%}
      </div>
    </div>

    <!-- 主题切换按钮 -->
    <div class="theme-switch-container">
      <!-- 主题切换开关 -->
      <div class="theme-toggle theme-item" id="themeToggle" onclick="displayThemeOptions()">
        <span class="icon icon-light" id="themeToggleIcon"></span>
        <span id="themeToggleText">主题</span>
      </div>
      <!-- 下拉内容 -->
      <div class="theme-dropdown" id="themeDropdown">
        <div class="theme-option theme-item" id="theme-option-light" onclick="changeTheme('icon-light')">
          <span class="icon icon-light"></span>
          <span>浅色</span>
        </div>
        <div class="theme-option theme-item" id="theme-option-dark" onclick="changeTheme('icon-dark')">
          <span class="icon icon-dark"></span>
          <span>深色</span>
        </div>
      </div>      
    </div>

    <div style="clear: both;"></div>
  </div>

</header>
