.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  position: relative;
  /* 相对于根元素字体大小的1倍 */
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
}
.markdown h1 {
  cursor: pointer;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  font-size: 2.2rem;
  line-height: 1.2;
  border-bottom: 1px solid #e66762;
}
.markdown h1::before {
  content: '# ';
  color: #cc1616;
  font-weight: normal;
}
.markdown h2 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  font-size: 1.75rem;
  line-height: 1.225;
  padding-left: 9px;
  border-left: 5px solid #f22f27;
}
.markdown h3 {
  font-size: 1.5rem;
}
.markdown h4 {
  font-size: 1.25rem;
}
.markdown h5 {
  font-size: 1rem;
}
.markdown h6 {
  font-size: 1rem;
  color: #777;
}
.markdown h1 tt,
.markdown h1 code {
    font-size: inherit;
}
.markdown h2 tt,
.markdown h2 code {
    font-size: inherit;
}
.markdown h3 tt,
.markdown h3 code {
    font-size: inherit;
}
.markdown h4 tt,
.markdown h4 code {
    font-size: inherit;
}
.markdown h5 tt,
.markdown h5 code {
    font-size: inherit;
}
.markdown h6 tt,
.markdown h6 code {
    font-size: inherit;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table{
    margin: 0.8rem 0;
}
.markdown li>ol,
.markdown li>ul {
    margin: 0;
}
.markdown li {
  line-height: 2;
}
.markdown li p {
  margin: 0;
}
.markdown ul,
.markdown ol {
  padding-left: 30px;
}

.markdown table {
  min-width: 70%;
  border-collapse:collapse;
  margin: 0 auto;
  word-break: initial;
}
.markdown table thead {
  margin: 5px 0;
  border-top: 2px solid #000000;
  border-bottom: 0.75px solid #000000;
}
.markdown table tbody {
  border-bottom: 2px solid #000000;
}
.markdown table th {
  border: none;
  margin: 0;
  padding: 6px 13px;
}
.markdown table td {
  border: none;
  margin: 0;
  padding: 6px 13px;
}

.markdown a {
  border-bottom: 1px solid blue;
  color: blue;
  text-decoration: none;
}
.markdown a:hover {
  border-bottom: 2px solid #f22f27;
  color: #f22f27;
}

.markdown hr {
  height: 2px;
  padding: 0;
  margin: 25px auto;
  background-color: #cc1616;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

.markdown blockquote {
  border-left: 4px solid #db7e7b;
  padding: 0 15px;
  color: #777777;
}
.markdown blockquote blockquote {
  padding-right: 0;
}
.markdown pre,
.markdown code {
  overflow-x: auto;
}
.markdown pre {
  padding-left: 10px;
}
.markdown img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 5px #e0e0e0;
  border-radius: 4px;
}
.markdown iframe {
  display: block;
  margin: 0 auto;
  width: 90%;
  border-radius: 4px;
}

@media screen and (max-width: 560px) {
  .markdown iframe {
    max-height: 200px;
  }

}