.post-main {
  position: relative;
  padding-bottom: 100px;
}
.post-main a {
  color: inherit;
  text-decoration: none;
}
/* 薄膜 */
.post-main .film {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(80, 80, 80, 0.8);
}

/* 标题 */
.post-main .post-title {
  font-size: 2.4rem;
  margin: 1.5rem 0;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  color: #590009;
}
html.dark .post-main .post-title {
  color: #ffffff;
}
.post-main .post-title::after {
  content: '';
  display: block;
  margin: 0 auto 0;
  width: 100px;
  height: 2px;
  border-bottom: 2px solid #f22f27;
}
/* 子标题 */
.post-main .post-subtitle {
  font-size: 1rem;
  color: #727272;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

/* Add by Zeng Zhenxiang */
/* 博客文章样式 */
.post-main .columns {
  box-sizing: border-box;
  width: 100%;
}
.post-main .columns .column {
  display: block;
  float: left;
}
.post-main .columns .two-thirds {
  box-sizing: border-box;
  width: 75%;
}
.post-main .columns .one-thirds {
  box-sizing: border-box;
  width: 25%;
}
/* 文章目录样式 */
.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.toc-container {
  float: right;
  overflow-x: auto;
  width: 90%;
  max-width: 250px;
  min-height: 250px;
}
.toc .toc-title {
  display: block;
  margin: 16px 0;
  font-size: 1.3rem;
  font-weight: normal;
}
.toc ul {
  list-style: none;
  padding: 0;
}
.toc-list {
  max-height: 550px;
  overflow-y: scroll;
}
.toc-list .toc-item {
  box-sizing: border-box;
}
.toc-list .toc-item .toc-link {
  display: block;
  box-sizing: border-box;
  padding: 8px 16px;
  border-left: 2px solid #9f9f9f;
}
.toc-list .toc-item .toc-link:hover:not(.toc-link.selected) {
  color: #0080ff;
}
.toc-list .toc-item .toc-link.selected {
  background-color: #ff2a5130;
  border-left: 2px solid #d30038;
}

/* 用于小屏幕的左侧边栏 */
.post-main .sidebar-head {
  display: none;
}

@media screen and (max-width: 560px) {
  /* Add by Zeng Zhenxiang */
  .post-main .columns .column {
    float: none;
  }
  .post-main .columns .two-thirds {
    width: 100%;
    padding-right: 0px;
  }
  .post-main .columns .one-thirds {
    width: 250px;
  }
  /* 目录 */
  .post-main .toc {
    position: fixed;
    top: 32px;
    left: -260px;
    background-color: #ffffff;
    transition: left 0.6s ease-in-out;
    border: 1px solid #eeeeee;
    border-left: none;
    border-radius: 0 8px 8px 0;
    z-index: 2;
    padding-left: 10px;
  }
  .toc-container {
    float: none;
    max-width: 250px;
  }
  .post-main .toc.show {
    left: 20px;
  }
  .toc .toc-title {
    margin: 0px;
  }
  .toc .toc-list {
    max-height: 500px;
  }
  /* 左侧边栏 */
  .post-main .sidebar-head {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    opacity: 0.8;
  }
  .post-main .sidebar-head .head-left {
    display: flex;
    align-items: center;
  }
  .post-main .sidebar-head .head-left img{
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
  }
  .post-main .sidebar-head .head-right {
    display: flex;
    align-items: center;
  }
  .post-main .sidebar-head .head-right img{
    display: inline-block;
    padding: 2px 5px;
  }
}
