html.dark {
  color: #c9d1d9;
  background-color: #0d1117;
}
html.dark ::selection {
  background-color: #327bd4;
  color: #ffffff;
}
html.dark ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(153, 153, 153, 0.6);
}
html.dark img {
  filter: brightness(0.8) contrast(1.2);
}

html.dark .list-category div a {
  border-bottom: 1px solid #8b949e;
}
html.dark .list-post li .date {
  color: #8b949e;
}
html.dark .list-post li .categories a {
  color: #8b949e;
}
html.dark .hover-underline:after {
  background-color: #c9d1d9;
}

/* 全站搜索框深色样式 */
html.dark .search-box #search-input {
  color: #ffffff;
  background-color: inherit;
}
html.dark .search-box #search-input::-webkit-input-placeholder {
  color: #a5a5a5;
}
html.dark .search-box .list-search .content {
  color: #ffffff;
}
html.dark .search-box .list-search {
  background-color: #11171f;
}

html.dark .footer-btn {
  background-color: rgba(255, 255, 255, 0.4);
}
html.dark .footer-btn i {
  opacity: 0.7;
}
/* 主题切换按钮下拉内容 */
html.dark .theme-dropdown {
  background-color: #0d1117;
}
html.dark .theme-item:hover {
  background-color: #a5a5a5;
}

@media screen and (max-width: 560px) {
  /* 左侧边栏 */
  html.dark .post-main .sidebar-head {
    background-color: #0d1117;
  }
  /* 目录 */
  html.dark .post-main .toc {
    background-color: #0d1117;
    box-shadow: 0px 0px 5px #ffffff;
  }

}