<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {%- include head.html -%}
    <!-- 引入专用于博客文章的样式表和脚本 -->
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/post/post.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/post/markdown-light.css" />
    <script type="text/javascript" src="{{site.baseurl}}/static/js/post/post.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/code/code-dark.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/code/code-light.css" />
  </head>

  <body>
    {% include header.html -%}

    <!-- 博客文章主体 -->
    <section class="post-main">

      <!-- 黑色的膜 -->
      <div class="film"></div>

      <!-- 用于小屏幕 -->
      <div class="sidebar-head">
        <div class="head-left">
          <img src="{{site.baseurl}}/static/img/toc_sidebar_left.svg" alt="" id="toc-btn"/>
        </div>
        <div class="head-right">
          <img src="{{site.baseurl}}/static/img/earth.svg" alt="" />
          <span class="content">中文（简体）</span>
        </div>
      </div>

      <div class="columns">
        <!-- 博客文章, 3/4 -->
        <div class="post column two-thirds">
          <!-- 文章标题 -->
          <h1 class="post-title" id="{{ page.title }}">{{ page.title }}</h1>
          <!-- 文章子标题 -->
          <div class="post-subtitle">
            <span>{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</span>
          </div>
          <!-- 文章内容 -->
          <div class="markdown">
            {{ content }}
          </div>
        </div>

        <!-- 文章目录, 1/4 -->
        <aside class="toc column one-thirds">
          <div class="toc-container">
            <section class="toc-content">
              <header>
                <h1 class="toc-title">文章目录</h1>
              </header>
              <ul class="toc-list">
                <!-- add html tags in post_toc.js -->
                <!-- <li class="toc-item ">
                  <a class="toc-link" href="#key_resources">Key resources</a>
                </li> -->
              </ul>
            </section>
          </div>
        </aside>

        <!-- clear float -->
        <div style="clear: both;"></div>
      </div>
    </section>
    {%- include comments.html -%}
    {% include footer.html -%}
  </body>
</html>